@use '/styles/common.scss';
@use '/styles/mixins.scss';

.buttons {
  display: flex;
  gap: 2rem;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.reset,
.submit {
  box-shadow: var(--box-shadow);

  flex-grow: 0;

  &::first-letter {
    text-transform: uppercase;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.reset {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--primary-color);
}

.submit {
  background-image: var(--gradient);
}
