@use '/styles/common.scss';

.buttons {
  display: flex;
  gap: 2rem;
  justify-self: center;
  justify-content: space-between;
  flex-direction: row;
}

.cancel,
.submit {
  padding: 0.75rem 2rem;
  transition: opacity var(--transition-fast);
  box-shadow: var(--box-shadow);
  font-weight: 700;
  border-radius: var(--radius-small);
  flex-grow: 0;

  &::first-letter {
    text-transform: uppercase;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.cancel {
  background-color: transparent;
  border: 3px solid var(--primary-color);
}

.submit {
  background-image: var(--gradient);
  color: var(--bg-color);

  &:disabled {
    opacity: 0.5;
  }
}
