@use '/styles/common.scss';

.list {
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;

  @include common.breakpoint('lg') {
    font-size: 2.5rem;
    gap: 2.5rem;
    padding: 1.5rem 2rem;
  }
}

.item {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  word-break: break-all;
  align-items: flex-start;
}

.avatar {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);

  @include common.breakpoint('lg') {
    --size: 4rem;
  }
}
