.loader,
.loader:after {
  --size: 20rem;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}

.loader {
  --border-size: 1em;
  --size: 20rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
  border-top: var(--border-size) solid rgba(var(--secondary-color-rgb), 0.2);
  border-right: var(--border-size) solid rgba(var(--secondary-color-rgb), 0.2);
  border-bottom: var(--border-size) solid rgba(var(--secondary-color-rgb), 0.2);
  border-left: var(--border-size) solid var(--primary-color);
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

.white {
  color: var(--bg-color);
}

.small {
  --size: 4rem;
  --border-size: 0.3em;
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
