.loader {
  width: min(20rem, 40%);
  height: min(20rem, 40%);
  margin: 0 auto;
}

@keyframes animate-stroke {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.loader-path {
  stroke: var(--primary-color);
  stroke-width: 5px;
  animation: animate-stroke 1.5s ease-in-out infinite;

  &--white {
    stroke: var(--bg-color);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.circular-loader {
  animation: rotate 3s linear infinite;
}
