@use '/styles/common.scss';

.container {
  background-color: var(--white);
  width: 100%;

  padding-bottom: 2rem;
  border-bottom: var(--gray-border);

  @include common.breakpoint('sm') {
    border-radius: 1rem;
    border: var(--gray-border);
    box-shadow: var(--box-shadow);
    width: min(80%, 55rem);
    padding-bottom: 1rem;
  }

  @include common.breakpoint('lg') {
    padding-bottom: 0rem;
  }
}

.figure {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img {
  width: 100%;
  height: auto;
  max-height: 40rem;
  object-fit: contain;

  @include common.breakpoint('lg') {
    max-height: 75rem;
  }
}
