@use '/styles/common.scss';

.container {
  background-color: var(--white);
  width: 100%;

  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(30, 30, 30, 0.2);

  @include common.breakpoint('sm') {
    border-radius: 1rem;
    border: 1px solid rgb(30, 30, 30, 0.25);
    box-shadow: var(--box-shadow);
    width: min(80%, 55rem);
    padding-bottom: 1rem;
  }

  @include common.breakpoint('lg') {
    padding-bottom: 0rem;
  }
}

.figure {
  position: relative;
  width: 100%;
  padding-bottom: 105%;
}

.post-img {
  object-fit: cover;
  border-block: 1px solid rgb(0, 0, 0, 0.15);
}
