.button {
  padding: 0.3em 0.75em;
  border-radius: var(--radius-small);
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--primary-color);
  border: 3px solid transparent;
  color: var(--bg-color);

  outline-offset: 0.15em;

  &:focus {
    outline: 3px solid var(--text-color);
  }

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
      filter: brightness(110%);
    }
  }
}
