.button {
  padding: 0.4em 1em;
  border-radius: var(--radius-small);
  font-weight: 500;
  background-color: var(--primary-color);
  border: 3px solid transparent;
  letter-spacing: 0.5px;
  color: white;
  font-weight: 700;
  outline-offset: 0.15em;

  &::first-letter {
    text-transform: uppercase;
  }

  &:focus {
    outline: 3px solid var(--text-color);
  }

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
    }
  }
}
