@use '/styles/common.scss';

.container {
  justify-content: center;
  align-items: center;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 2;

  align-items: flex-end;
  padding-bottom: 2rem;

  @include common.breakpoint('lg') {
    align-items: center;
    padding: 0;
  }
}

.modal {
  background-color: var(--bg-color);
  border-radius: var(--radius-small);
  width: 90%;
  min-height: 60vh;
  max-height: 85vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: flex-start;

  @include common.breakpoint('sm') {
    overflow: hidden;
    width: 90%;
  }

  @include common.breakpoint('xl') {
    grid-template-columns: minmax(30rem, 105rem) minmax(40rem, 1fr);
    grid-template-rows: auto 1fr auto;
    width: clamp(70rem, 70%, 300rem);
    height: 90vh;
    max-height: none;
  }
}

.loader {
  grid-row: 2 / 3;

  @include common.breakpoint('sm') {
    margin: 0 calc(12vw + 5rem);
  }
}

.image {
  position: relative;
  grid-row: 2 / 3;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: var(--gray-border);
  height: 100%;
  display: none;

  & > img {
    max-height: 30rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  @include common.breakpoint('sm') {
    display: flex;
  }

  @include common.breakpoint('lg') {
    grid-row: 1 / 5;
    border-right: var(--gray-border);
    border-bottom: none;

    & > img {
      max-height: unset;
      object-fit: contain;
    }
  }
}

.visible {
  display: initial;
}

.hidden {
  display: none;
}

.post {
  padding: 1rem;
  padding-top: 3rem;
  grid-row: 1 / 4;
  overflow-y: scroll;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fetch {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;

  @include common.breakpoint('sm') {
    font-size: 2.5rem;
  }
}
