@use '/styles/common.scss';

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 2;
}

.modal {
  background-color: var(--bg-color);
  border-radius: var(--radius-medium);
  overflow: hidden;
  width: 94%;
  height: 85vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include common.breakpoint('lg') {
    width: min(85%, 160rem);
    height: 80vh;

    grid-template-columns: 1.75fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

.image {
  position: relative;
  grid-row: 2 / 3;
  min-height: 200px;
  background-color: gray;

  > img {
    object-fit: cover;
  }

  @include common.breakpoint('lg') {
    grid-row: 1 / 5;
  }
}

.post {
  padding: 1rem;
  padding-top: 3rem;
  grid-row: 1 / 4;
  overflow-y: scroll;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fetch {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;

  @include common.breakpoint('sm') {
    font-size: 2.5rem;
  }
}
