@use '/styles/common.scss';

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  background-color: var(--bg-color);
  border-radius: var(--radius-medium);
  overflow: hidden;
  width: 94%;
  height: 85vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include common.breakpoint('lg') {
    width: min(85%, 160rem);
    height: 80vh;

    grid-template-columns: 1.75fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

.image {
  position: relative;
  grid-row: 2 / 3;
  min-height: 200px;
  background-color: gray;

  > img {
    object-fit: cover;
  }

  @include common.breakpoint('lg') {
    grid-row: 1 / 5;
  }
}

.post {
  padding: 1rem;
  padding-top: 3rem;
  grid-row: 1 / 4;
  overflow-y: scroll;
}

.description {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;

  @include common.breakpoint('sm') {
    font-size: 2.5rem;
  }
}

.avatar {
  --avatar-size: 3rem;
  width: var(--avatar-size);
  height: var(--avatar-size);
  justify-self: flex-start;
  align-self: flex-start;

  @include common.breakpoint('sm') {
    --avatar-size: 4rem;
  }
}

.button {
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2em;

  @include common.breakpoint('sm') {
    top: 2rem;
    right: 2rem;
  }

  & > svg {
    color: var(--bg-color);
  }

  &:hover {
    cursor: pointer;
  }
}

.overflow {
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding-bottom: 1.5rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fetch {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;

  @include common.breakpoint('sm') {
    font-size: 2.5rem;
  }
}
