.container {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: var(--error-color);
  font-weight: 700;
  text-align: center;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  clip-path: polygon(0, 0, 0, 0);
}

.label:hover > .overlay,
.input:focus + .label > .overlay {
  background-color: rgb(220, 220, 220, 0.8);
  opacity: 1;
  cursor: pointer;
}

.input:focus + .label {
  outline: 3px solid black;
  outline-offset: 8px;
  transition: all var(--transition-fast);
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 5px solid var(--primary-color);
  width: clamp(14rem, 16vw, 18rem);
  height: clamp(14rem, 16vw, 18rem);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: transparent;
  transition: all var(--transition-fast);
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
