@use '/styles/common.scss';

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;

  @include common.breakpoint('lg') {
    gap: 10rem;

    flex-direction: row;
  }
}

.avatar-change {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  @include common.breakpoint('lg') {
    align-items: flex-start;
  }
}

.avatar-button {
  padding: 0;
  cursor: pointer;
  text-align: left;
  color: var(--primary-color);
  font-weight: 700;
  background-color: transparent;
}

.avatar {
  width: 16rem;
  height: 16rem;
}
