@use '/styles/common.scss';

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;

  @include common.breakpoint('lg') {
    gap: 10rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

.avatar-change {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.avatar-button {
  padding: 0;
  cursor: pointer;
  text-align: left;
  color: var(--primary-color);
  font-weight: 700;
  background-color: transparent;
}

.avatar {
  border-width: 3px;
  width: 15rem;
  height: 15rem;
}
