@use '/styles/common.scss';
@use '/styles/mixins.scss';

div.avatar {
  justify-self: flex-end;
  width: 8rem;
  height: 8rem;

  @include common.breakpoint('lg') {
    width: 15rem;
    height: 15rem;
  }
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include common.breakpoint('lg') {
    gap: 5rem;
    flex-direction: row;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 0 4rem;
  flex-direction: column;

  @include common.breakpoint('sm') {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}

button.avatar-button {
  margin: 0.75rem 0;
}

.modal-text {
  justify-self: center;
  text-align: center;
  align-self: center;
  font-size: 2em;
  color: rgb(var(--bg-primary));
  font-weight: 900;
}

.margin {
  min-height: 20rem;

  @include common.breakpoint('sm') {
    min-height: 30rem;
  }
}

.loader {
  justify-self: center;

  @include common.breakpoint('sm') {
    grid-column: span 2;
  }
}
