@use '/styles/common.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

@mixin label-active {
  top: 0.15em;
  font-size: 0.85em;
  color: hsl(165, 50%, 30%);
}

.input {
  background: var(--bg-color);
  width: 100%;
  border-width: 3px;
  border-style: solid;
  border-radius: 0.25em;
  border-color: rgb(0, 0, 0, 0.4);
  box-shadow: var(--shadow-color, var(--primary-color)) 0 0 0 1px;
  padding: 1.1em 0.35em 0.15em 0.35em;
  line-height: 1.5;
  outline: none;

  --shadow-color: transparent;

  &:focus + .label {
    @include label-active;
  }

  &:focus,
  &--dirty {
    border-color: var(--primary-color);
  }

  &:focus {
    --shadow-color: var(--primary-color);
  }

  &--error {
    border-color: var(--error-color);

    & + .label {
      color: var(--error-color);
    }

    &:focus {
      --shadow-color: var(--error-color);
      border-color: var(--error-color);

      & + .label {
        color: var(--error-color);
      }
    }
  }
}

.label {
  display: flex;
  gap: 0.5rem;
  left: 0.6em;
  font-weight: 500;
  top: 0.9em;
  position: absolute;
  transition: all var(--transition-fast);
  color: rgb(0, 0, 0, 0.6);

  &--dirty {
    @include label-active;
  }
}

.label-text {
  &::first-letter {
    text-transform: uppercase;
  }
}

.optional {
  text-transform: lowercase;
}

.text-area-container {
  padding-top: 4rem;
  border-radius: 0.6rem;
  border: 3px solid var(--primary-color);
}

.text-area {
  display: flex;
  width: 100%;
  resize: vertical;
  min-height: 15rem;
  max-height: 30rem;
  padding: 0 1.5rem;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;

  &:focus + .label {
    @include label-active;
  }
}

.progress {
  position: absolute;
  font-weight: 500;
  right: 1rem;
  top: 1rem;
  font-size: 0.75em;
}
