@use '/styles/common.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2.5rem;
  position: relative;
}

@mixin label-active {
  font-size: 0.75em;
  top: 1.5rem;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.input {
  background: var(--bg-color);
  width: 100%;
  padding: 3.5rem 1.5rem 0.75rem 1.5rem;
  border: 3px solid var(--primary-color);
  border-radius: 0.6rem;

  &--error {
    border-color: var(--error-color);
  }

  &:focus + .label {
    @include label-active;
  }
}

.label {
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  position: absolute;
  left: 0.5rem;
  line-height: 1;
  padding: 0 1.5rem;
  background-color: transparent;
  top: 3.25rem;
  transition: var(--transition-fast);
  transition-property: top, transform, font-size, background-color;
  color: hsl(165, 50%, 20%);

  cursor: text;

  &--dirty {
    @include label-active;
  }
}

.label-text {
  &::first-letter {
    text-transform: uppercase;
  }
}

.optional {
  text-transform: lowercase;
}

.text-area-container {
  padding-top: 4rem;
  border-radius: 0.6rem;
  border: 3px solid var(--primary-color);
}

.text-area {
  display: flex;
  width: 100%;
  resize: vertical;
  min-height: 15rem;
  max-height: 30rem;
  padding: 0 1.5rem;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;

  &:focus + .label {
    @include label-active;
  }
}

.progress {
  position: absolute;
  font-weight: 500;
  right: 1rem;
  top: 1rem;
  font-size: 0.75em;
}
