@use '/styles/common.scss';

.container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  place-content: center;

  @include common.breakpoint('lg') {
    grid-template-columns: 1fr 2fr;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  max-width: 40ch;
}

.info {
  gap: 4rem;
  display: flex;
}

.edit {
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
  border-radius: 0.2em;
  font-weight: 700;
  cursor: pointer;
}
