.popup {
  padding: 6px;
  border-radius: 0.2em;
  background-color: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  width: min(40rem, 36%);
  position: fixed;
  padding: 2.5rem 5rem;
  font-weight: 900;
  box-shadow: var(--primary-color) 0 0 1px 3px;

  text-align: center;
  top: 20rem;
  right: 5rem;
  margin: 0 auto;
}

.error {
  box-shadow: var(--error-color) 0 0 1px 3px;
}

.progress {
  width: 100%;
  height: 8px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -3px;
  left: 0;
  transform-origin: left;

  &--error {
    background-color: var(--error-color);
  }
}
