@use '/styles/common.scss';

.heading {
  font-size: 2em;
  flex-grow: 1.5;
  font-weight: 900;
}

.navContainer {
  background-color: rgb(var(--bg-white));
  box-shadow: var(--shadow-primary);
  padding: 0 1.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;

  @include common.breakpoint('sm') {
    padding: 0 3rem;
  }

  @include common.breakpoint('lg') {
    padding: 0 5rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
  margin: auto;
  max-width: 135rem;
  gap: 2rem;

  @include common.breakpoint('sm') {
    justify-content: space-evenly;
    padding: 1.25rem 0;
  }

  @include common.breakpoint('lg') {
    background-color: transparent;
    justify-content: space-between;
    margin-bottom: 8rem;
    gap: 0;
  }
}

.skip {
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
  border: 3px solid rgb(var(--color-primary));
  color: rgb(var(--text-primary));
  border-radius: 0.75rem;
  padding: 1rem;
  outline: none;

  &:focus {
    width: auto;
    height: auto;
    display: inline-block;
    position: static;
  }
}

.link {
  text-decoration: none;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1.5px;
  background-image: var(--gradient);
}

.components {
  max-width: 140rem;
  margin: 0 auto;

  @include common.breakpoint('sm') {
    padding: 0 calc(2rem + 5vw);
  }
}
