@use '/styles/common.scss';

.wrapper {
  padding: 2rem 0;
  padding-top: 8rem;
  max-width: 150rem;
  margin-inline: auto;

  @include common.breakpoint('lg') {
    padding: 2rem calc(1.5rem + 5vw);
  }
}
