.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  row-gap: 6rem;
  margin-top: 5rem;
  column-gap: 3rem;
}

.post {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  padding: 1rem;

  gap: 1rem;
  position: relative;
  justify-self: center;
  overflow: hidden;
  border-radius: 0.75rem;

  &:hover > .overlay {
    transform: translateY(0);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(var(--primary-color-rgb), 0.75);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(120%);
}

button.delete {
  background-color: red;
}

.post-img {
  height: 90%;
}
