@use '/styles/common.scss';

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  row-gap: 6rem;
  margin-top: 5rem;
  width: 95%;
  margin: 0 auto;
  column-gap: 3rem;
}
