.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.big-border {
  border-width: 4px;
}

.error {
  color: var(--error-color);
  font-weight: 700;
  text-align: center;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  clip-path: polygon(0, 0, 0, 0);
}

.label:hover > .overlay,
.input:focus + .label > .overlay {
  background-color: rgb(var(--primary-color-rgb), 0.8);
  opacity: 1;
  cursor: pointer;
}

.input:focus + .label {
  box-shadow: var(--text-color) 0 0 0 4px;
  transition: all var(--transition-fast);
}

.label {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all var(--transition-fast);
  font-size: 2.5em;

  & > img {
    padding: 1em;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
