@use '/styles/common.scss';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(30ch, 90%);
  gap: 4rem;
  margin-inline: auto;

  @include common.breakpoint-max('lg') {
    margin-top: 5rem;
  }
}
