@use '/styles/common.scss';

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2rem;
  border-top: var(--border-primary-small);

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  @include common.breakpoint('lg') {
    padding: 3rem 5rem;
  }
}

.link {
  color: rgb(var(--text-primary));
  text-decoration: none;
  font-weight: 700;
  grid-row: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  @include common.breakpoint('lg') {
    gap: 2.5rem;
  }
}

.avatar {
  --size: 5rem;
  width: var(--size);
  height: var(--size);

  @include common.breakpoint('lg') {
    --size: 7.5rem;
  }
}

.loader {
  width: 100%;
  padding: 3rem 0;
  border-top: var(--border-primary-small);
}
