@use '/styles/common.scss';

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;

  @include common.breakpoint('lg') {
    width: auto;
    position: static;
  }
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
  gap: 10rem;
  box-shadow: inset 0 3px 0 0 var(--primary-color);
  background-color: var(--secondary-color);

  @include common.breakpoint('lg') {
    gap: 7rem;
    justify-content: space-evenly;
    box-shadow: none;
    background-color: transparent;
  }
}
