@use '/styles/common.scss';

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;

  @include common.breakpoint('lg') {
    width: auto;
    padding-bottom: 0;
    margin: unset;
    position: static;
    width: auto;
  }

  &--no-user {
    @extend .menu;
    @extend .nav;
  }
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 1em;
  border-top: 1px solid rgb(0, 0, 0, 0.25);
  background-color: var(--white);

  @include common.breakpoint('lg') {
    box-shadow: none;
    border: none;
    border-radius: none;
    padding: 0;
    gap: 4rem;
    justify-content: space-evenly;
    background: none;
  }
}

.icon {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  font-size: 1.6em;
  transition: color var(--transition-slow);
  color: var(--text-color);

  @include common.breakpoint('lg') {
    font-size: 1.75em;
  }
}

.link {
  display: flex;
  position: relative;

  @include common.breakpoint('lg') {
    padding: 1rem;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      z-index: -1;
      transform: scale(0);
      transition: transform var(--transition-fast);
      background-image: var(--gradient);
    }

    &:hover::before,
    &:focus::before {
      transform: scale(1);
    }

    &:hover svg,
    &:focus svg {
      color: var(--white);
    }
  }
}

.button {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
  background-image: var(--gradient);
  padding: 0.25em 0.9em;
  border-radius: var(--radius-small);
}

.text {
  font-weight: 700;
  color: var(--text-color);
}
