@use '/styles/common.scss';

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;

  @include common.breakpoint('lg') {
    width: auto;
    padding-bottom: 0;
    margin: unset;
    position: static;
  }
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.5em 1em;
  border-top: 1px solid rgb(0, 0, 0, 0.25);
  background-color: var(--white);

  @include common.breakpoint('lg') {
    box-shadow: none;
    border: none;
    border-radius: none;
    padding: 0;
    gap: 4rem;
    justify-content: space-evenly;
    background: none;
  }
}

.icon {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  color: var(--text-color);

  @include common.breakpoint('lg') {
    font-size: 1.75em;
  }
}
