@use '/styles/mixins.scss';
@use '/styles/common.scss';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5rem;

  @include common.breakpoint('sm') {
    padding: 0 5rem;
  }

  @include common.breakpoint('lg') {
    padding: 0 min(25rem, 20%);
  }
}

.no-username {
  font-size: 1.75em;
  text-align: center;
}

.error {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 40rem;
  color: var(--error-color);
  text-align: center;
  margin: 0 auto;
}
