@use '/styles/common.scss';

.button {
  background-color: rgb(var(--color-primary));
  margin-left: auto;
  border-radius: var(--radius-small);
  text-transform: capitalize;
  padding: 0.5rem 1.5rem;
  font-weight: 600;

  @include common.breakpoint('lg') {
    font-size: 2.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}
