@use '/styles/common.scss';

.post {
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  justify-self: center;
  overflow: hidden;

  &:hover > .overlay {
    transform: translateY(0);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 40%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(var(--primary-color-rgb), 0.75);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%);
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button.delete {
  background-color: red;
}

.post-img {
  height: 90%;
  margin: 0 auto;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
