@use '/styles/common.scss';

.input-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.gradient {
  width: 100%;
  background-image: var(--gradient);
  background-size: cover;
  padding: 3px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &--error {
    background: var(--error-color);
  }
}

.input {
  padding: 1rem 2rem;
  width: 100%;
  transition: background-color var(--transition-fast);

  &:focus {
    background-color: var(--bg-color);
  }
}

.text-area-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.text-area {
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2rem;
  width: 100%;
  min-height: 20rem;
  max-height: 40rem;
  overflow: auto;
  resize: vertical;
  transition: background-color var(--transition-fast);

  &:focus {
    background-color: var(--bg-color);
  }
}

.count {
  font-weight: 400;
  position: absolute;
  top: -1.5em;
  right: 0.5rem;

  &--warning {
    color: var(--warning-color);
  }

  &--error {
    color: var(--error-color);
  }
}

.error {
  margin-inline: auto;
  justify-self: center;
  color: var(--error-color);
  text-align: center;
}
