@use '/styles/common.scss';
@use '/styles/mixins.scss';

.overlay {
  @include mixins.overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 4rem;

  @include common.breakpoint('lg') {
    font-size: 6rem;
    margin-bottom: 4rem;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--radius-medium);
  background-color: var(--bg-color);
  border: var(--gray-border);
  box-shadow: var(--box-shadow);
  padding: 3rem 3rem;

  @include common.breakpoint('lg') {
    padding: 3rem 10rem;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;

  @include common.breakpoint('lg') {
    margin-bottom: 2rem;
  }
}

.button {
  margin-top: 3rem;

  @include common.breakpoint('lg') {
    margin-top: 5rem;
  }
}
