@use '/styles/mixins.scss';
@use '/styles/common.scss';

.button {
  @include mixins.modal-button-link;
  @include mixins.modal-item;
  @include mixins.modal-item-corners;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: auto;
    background-color: rgb(222, 222, 222);
  }

  &--red {
    font-weight: 700;
    color: rgb(var(--color-error));

    & > svg,
    & > path {
      color: rgb(var(--color-error));
    }
  }
}
