@use '/styles/common.scss';

.container {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  transform: rotate(90deg);

  @include common.breakpoint('lg') {
    transform: rotate(0);
  }
}
