@use '/styles/common.scss';

.button {
  background-image: var(--gradient);
  color: var(--bg-color);
  border: none;
  width: 100%;

  padding: 1.5rem 0;

  @include common.breakpoint('lg') {
    padding: 2rem 0;
  }
}
