.button {
  background-image: var(--gradient);
  color: var(--bg-color);
  border: none;
  text-transform: capitalize;
  background-size: 200% 200%;
  background-position: left;
  transition: background-position var(--transition-slow);

  &:not(:disabled):hover {
    background-position: right;
  }

  &:disabled {
    opacity: 0.5;
  }
}
