@use '/styles/common.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 12rem;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2.5rem;
  position: relative;
}

.label {
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  left: 1.5rem;
  bottom: 1.25rem;
  transition: var(--transition-fast);
  transition-property: bottom, transform;
}

.input {
  background: var(--bg-color);
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;

  &:focus + .label,
  &--active + .label {
    bottom: 2.6em;
  }
}

.gradient {
  background-image: var(--gradient);
  border-radius: 0.5rem;
  padding: 4px;
  width: 100%;
}
