@use '/styles/common.scss';

.label {
  display: flex;
  border-radius: var(--radius-small);
  background-color: rgb(var(--bg-secondary));

  @include common.breakpoint('lg') {
    align-items: stretch;
    justify-content: stretch;
  }
}

.input {
  max-width: 10rem;
  padding: 1rem;
  padding-left: 0.5rem;
  background-color: transparent;

  @include common.breakpoint('sm') {
    max-width: 25rem;
  }

  @include common.breakpoint('lg') {
    max-width: unset;
    padding: 1.1rem 1.5rem;
    padding-left: 1rem;
  }
}

.button {
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1rem;

  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;

  @include common.breakpoint('lg') {
    justify-content: center;
  }
}
