@use '/styles/common.scss';

.label {
  display: flex;
  border-radius: var(--radius-small);
  border: var(--gray-border);
  background-color: #fff;

  @include common.breakpoint('lg') {
    align-items: stretch;
    justify-content: stretch;
  }
}

.input {
  max-width: 10rem;
  padding: 1rem;
  padding-left: 0;
  background-color: transparent;

  @include common.breakpoint('lg') {
    max-width: unset;
  }
}

.button {
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}
