.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 30ch;
  margin-inline: auto;
}

.heading {
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 2px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.button {
  background-image: var(--gradient);
  border: 3px solid var(--primary-color);
  border-radius: 0.3em;
  padding: 0.3em 1em;
  text-transform: uppercase;
  font-weight: 700;
  background-size: 200% 200%;
  background-position: left;
  transition: background-position var(--transition-slow);

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-position: right;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
