.form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  width: 30ch;
  margin-inline: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.button {
  background: transparent;
  border: 3px solid var(--primary-color);
  padding: 0.3em 1em;
  text-transform: uppercase;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    z-index: -1;
    transition: transform var(--transition-fast);
  }

  &:hover::before,
  &:focus::before {
    transform: scaleY(1);
  }

  &:disabled {
    opacity: 0.8;
    cursor: auto;

    &::before {
      display: none;
    }
  }
}

.or {
  font-weight: 700;
  text-transform: uppercase;
  flex-direction: column;
  text-align: center;
  display: flex;
}
