@use '/styles/common.scss';

.form {
  padding: 0 1.5rem;
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  gap: 1rem;

  @include common.breakpoint('lg') {
    margin-top: 0.5rem;
    border-top: var(--border-primary-small);
  }
}

.input {
  margin: 0.5rem 0;
  padding: 1rem 0.5rem;
  font-family: inherit;
  resize: vertical;
  font-size: 1em;
  background: transparent;
  min-height: 5rem;
  height: 4rem;
  max-height: 13rem;
  border-radius: var(--radius-small);
  align-self: center;
  border: none;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px inset rgb(var(--color-primary));
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-primary));
    border-radius: 10px;
    border: 3px solid transparent;
  }

  @include common.breakpoint('lg') {
    padding: 1rem 1rem;
    height: 6rem;
    max-height: 13rem;
  }
}

.button {
  justify-self: center;
  align-self: center;
  border-radius: var(--radius-small);
  color: rgb(var(--color-primary));
  font-weight: 700;
  text-transform: capitalize;

  &::first-letter {
    text-transform: unset;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
