@use '/styles/common.scss';

.form {
  margin-top: 0.5rem;
  padding: 0 2rem;
  border-top: var(--gray-border);
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  gap: 1rem;
}

.input {
  padding: 2rem 1rem;
  font-family: inherit;
  resize: none;
  font-size: 1em;
  background: transparent;
  min-height: 5rem;
  height: 7rem;
  max-height: 13rem;
  border-radius: var(--radius-small);
  align-self: center;
  border: none;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px inset var(--primary-color);
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid transparent;
  }
}

.button {
  justify-self: center;
  align-self: center;
  border-radius: var(--radius-small);
}
