@use '/styles/common.scss';

.list {
  background-color: var(--white);
  border-radius: var(--radius-small);
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
  width: min(75rem, 90%);
}

.container {
  justify-content: center;
  width: 100%;
  align-items: center;
}

.button {
  border-radius: var(--radius-small);
  display: flex;
  position: absolute;
  right: 8rem;
  top: 8rem;
  font-size: 7rem;

  > svg {
    color: var(--white);
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: var(--white);

    > svg {
      color: var(--text-color);
    }
  }
}
