@use '/styles/common.scss';

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 0.5em 0.75em;
  width: 100%;
}

.last {
  margin-left: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline-offset: 4px;
  cursor: pointer;
  font-size: 1.75em;

  @include common.breakpoint('lg') {
    font-size: 1.5em;
  }
}
