@use 'common.scss';
@use 'mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: 51, 204, 173;
  --color-secondary: 140, 217, 217;
  --color-error: 210, 58, 45;
  --color-warning: 255, 153, 0;
  --color-white: 255, 255, 255;

  --text-primary: 36, 36, 36;
  --bg-primary: 250, 250, 250;
  --bg-secondary: 239, 239, 239;
  --bg-white: 255, 255, 255;

  --border-primary: 219, 219, 219;

  --gradient-start: #2aa8da;
  --gradient-end: #05daa5;
  --gradient: linear-gradient(140deg, var(--gradient-start), var(--gradient-end));

  --transition-fast: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-slow: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  --shadow-primary: 0 2px 7px rgb(0, 0, 0, 0.1);

  --border-primary-small: 1px solid rgb(var(--border-primary));
  --border-primary-medium: 3px solid rgb(var(--border-primary));

  --radius-small: 0.6rem;
  --radius-medium: 0.9rem;

  --nav-icon-size: 2.5rem;

  @include common.breakpoint('lg') {
    --radius-small: 0.8rem;
    --radius-medium: 1.2rem;
    --nav-icon-size: 4rem;
  }
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;

  @include common.breakpoint('lg') {
    scroll-padding-top: 6rem;
    font-size: 50%;
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(var(--bg-primary));
  color: rgb(var(--text-primary));
  font-size: clamp(100%, calc(1rem + 2vw), 20px);
  scroll-behavior: smooth;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary));
  border-radius: 10px;
  border: 3px solid transparent;

  &:hover {
    background-color: rgb(var(--color-secondary));
  }
}

svg {
  color: rgb(var(--text-primary));
}

input,
button {
  border: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.bold {
  font-weight: 500;
}

div.Toastify__progress-bar {
  height: 6px;
}

div.Toastify__toast-container {
  margin-bottom: 5rem;

  @include common.breakpoint('lg') {
    margin-top: 7rem;
    margin-bottom: 0;
  }
}

div.Toastify__toast {
  --toastify-color-success: rgb(var(--color-primary));
  --toastify-color-progress-success: linear-gradient(
    to right,
    rgb(0, 101, 233, 0.7),
    rgb(var(--color-primary))
  );
  --toastify-icon-color-success: rgb(var(--color-primary));
  --toastify-text-color-light: rgb(var(--text-primary));
  --toastify-color-light: #fff;
  border: var(--border-primary-small);
  border-radius: var(--radius-medium);
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1rem;

  @include common.breakpoint('lg') {
    width: auto;
    margin-bottom: 2rem;
  }

  &--error {
    --toastify-color-error: rgb(var(--color-error));
    --toastify-color-progress-error: rgb(var(--color-error));
    --toastify-icon-color-error: rgb(var(--color-error));
    --border-color: rgb(var(--color-error));
  }
}

div.ReactCrop__crop-selection {
  border: 2px solid rgb(var(--color-secondary));
}
