@use 'common.scss';
@use 'mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(250, 250, 250);
  --text-color: hsl(0, 0%, 14%);
  --primary-color: hsl(180, 100%, 30%);
  --primary-color-rgb: 51, 204, 153;
  --secondary-color: hsl(180, 50%, 70%);
  --error-color: hsl(5, 65%, 50%);
  --error-color-rgb: 210, 58, 45;
  --warning-color: hsl(36, 100%, 50%);

  --gradient: linear-gradient(to bottom right, var(--primary-color), hsl(180, 100%, 30%));

  --transition-fast: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-slow: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  --box-shadow: rgba(50, 50, 93, 0.2) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
  --gray-border: 2px solid hsl(120, 0%, 70%);

  --radius-small: 1rem;
  --radius-medium: 0.45em;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;

  @include common.breakpoint('lg') {
    font-size: 50%;
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: clamp(100%, calc(1rem + 2vw), 22px);
  scroll-behavior: smooth;
}

svg,
path {
  color: var(--text-color);
}

input,
button {
  border: 0;
  font-size: inherit;
  font-family: inherit;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  left: 1px;
  top: 1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

div.Toastify__progress-bar {
  height: 6px;
}

div.Toastify__toast {
  --toastify-color-success: var(--primary-color);
  --toastify-color-progress-success: var(--primary-color);
  --toastify-icon-color-success: var(--primary-color);
  --border-color: var(--primary-color);
  --toastify-text-color-light: var(--text-color);
  --toastify-color-light: #fff;
  backdrop-filter: blur(10px);

  margin-bottom: 2rem;
  border-radius: var(--radius-small);
  border: 3px solid var(--border-color);

  &--error {
    --toastify-color-error: var(--error-color);
    --toastify-color-progress-error: var(--error-color);
    --toastify-icon-color-error: var(--error-color);
    --border-color: var(--error-color);
  }
}
