@use './common.scss';

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin max-width {
  margin: 0 auto;
  width: min(50rem, 100%);
}

@mixin modal-item {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0 3rem;
  font-size: 1.25em;
  gap: 1rem;

  @include common.breakpoint('sm') {
    gap: 2rem;
  }
}

@mixin modal-button-link {
  outline: none;
  text-transform: capitalize;

  &:first-child {
    border: 0;
    border-radius: 0.6em 0.6em 0 0;
  }

  &:last-child {
    border: 0;

    @include common.breakpoint('sm') {
      border-radius: 0 0 0.6em 0.6em;
    }
  }

  &:focus {
    border: 0;
    box-shadow: inset 0 0 0 5px var(--primary-color);
  }
}
