@use './common.scss';

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin max-width {
  margin: 0 auto;
  width: min(50rem, 100%);
}

@mixin modal-item {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0 3rem;
  font-size: 1.25em;
  gap: 1rem;

  @include common.breakpoint('sm') {
    font-size: 1em;
    gap: 2rem;
  }
}

@mixin modal-button-link {
  outline: none;
  text-transform: capitalize;
  border-block: 1px solid #d0d0d0;
  flex: 1 0 7.5rem;

  @include common.breakpoint('lg') {
    flex: 1 0 9rem;
  }

  & > svg {
    font-size: 1.35em;
  }

  &:focus {
    border: 0;
    box-shadow: inset 0 0 0 5px var(--primary-color);
  }
}
