@use './common.scss';

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin max-width {
  margin: 0 auto;
  width: min(50rem, 100%);
}

@mixin modal-item {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  background-color: var(--bg-color);
  border-block: var(--gray-border);
  color: var(--text-color);
  padding: 0 3rem;
  font-size: 2rem;
  gap: 1rem;

  @include common.breakpoint('sm') {
    font-size: 3rem;
    gap: 2rem;
  }

  @include common.breakpoint('lg') {
    gap: 3rem;
    padding: 0 4rem;
  }
}

@mixin modal-button-link {
  outline: none;
  text-transform: capitalize;
  flex: 1 0 7.5rem;

  &:focus {
    border: 0;
    box-shadow: inset 0 0 0 5px var(--primary-color);
  }

  & > svg {
    font-size: 3rem;
  }

  @include common.breakpoint('lg') {
    flex: 1 0 9rem;

    & > svg {
      font-size: 4rem;
    }
  }
}

@mixin modal-item-corners {
  &--first {
    border-bottom-color: transparent;
    border-radius: var(--radius-medium) var(--radius-medium) 0 0;
  }

  @include common.breakpoint('sm') {
    &--last {
      border-top-color: transparent;
      border-radius: 0 0 var(--radius-medium) var(--radius-medium);
    }
  }
}

@mixin overlay {
  background-color: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
}
