@use '/styles/common.scss';

.button {
  background-color: transparent;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-fast);
  transition-property: background-color, color;
  padding: 0.5rem;
  border-radius: 50%;

  @include common.breakpoint('sm') {
    font-size: 7rem;
    top: 4rem;
    right: 5rem;
  }

  & > svg {
    color: var(--bg-color);
  }

  &:focus,
  &:hover {
    background-color: var(--bg-color);

    & > svg {
      color: var(--text-color);
    }
  }

  &:hover {
    cursor: pointer;
  }
}
